# Gradle files
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IDE files
.idea/
*.iml
.vscode/

# Logs and temporary files
*.log
*.tmp
.DS_Store
# Ignore dataset folder in test/resources
/lib/src/test/resources/dataset/
